@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');



  *
  ::after,
  ::before {
    box-sizing: border-box;
  }


@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.animated-title {
  color: #112D32;
  font-family: 'Playfair Display', serif;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70vmin;
  style : font-size 8vw;
}

.animated-title>div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
 
}

.animated-title>div div {
  font-size: 7vmin;
  padding: 2vmin 0;
  position: absolute;
  
}
d
.animated-title>div div span {
  display: block;

}

.animated-title>div.text-top {
  border-bottom: 1vmin solid #112D32;
  top: 0;
}

.animated-title>div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);

;
}

.animated-title>div.text-top div span:first-child {
  color: #112D32;
  
}

.animated-title>div.text-bottom {
  bottom: 0;
  
}

.animated-title>div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);

}

.bg {
  display: block;
  align-items: center;
  justify-content: center;
  height: 70%;
  /* background-size: cover;
  background-position: top center;
  position: relative; */

  /* background-size: 70pc; */
  /* padding-bottom: 50pc; */
}

#bgimg::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.7;
  z-index: -1;
}

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400');
/* RESET STYLE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0%;
  padding: 0%;
  min-height: 100%;
  font-family: 'Titillium Web', Tahoma, sans-serif, monospace;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

/* MOBILE DISPLAY */
nav {
  z-index: 9999;
  position: relative;
  top: 0;
  width: 100%;
}

.container0 {
  display: inline-block;
  height: 60px;
  width: 100%;
  background: #112D32;
  padding-left: 30px;
  padding-top: 10px;
  margin: 0%;
}

.inav {
  padding: 12px;
  height: 50px;
  width: 50px;
  margin: -5px;
  float: left;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #fff;
  border-radius: 25px;
}

.c1,
.c2,
.c3 {
  width: 26px;
  height: 2px;
  background: #ffffff;
  border-radius: 2px;
  transition: transform .3s ease-out, width .3s ease-in;
  transform: translateY(0) rotate(0);
  -webkit-transform: translateY(0) rotate(0);
  -webkit-transition: -webkit-transform .3s ease-out, width .3s ease-in;
}

.close-c1 {
  transform: translateY(10px) rotate(45deg);
  transition: transform .3s ease-out;
  -webkit-transform: translateY(10px) rotate(45deg);
  -webkit-transition: -webkit-transform .3s ease-out;
}

.close-c2 {
  width: 0;
  transition: width .3s ease-in;
  -webkit-transition: width .3s ease-in;
}

.close-c3 {
  transform: translateY(-10px) rotate(-45deg);
  transition: transform .3s ease-out;
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -webkit-transition: -webkit-transform .3s ease-out;
}

.nav {
  z-index: 2;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  background-color: #112D32;
  display: none;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .1);
  position: relative;
  top: -4px;
}

.open {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-animation: 300ms show ease-out forwards;
  animation: 300ms show ease-out forwards;
}

ul a {
  text-align: center;
  display: inline-block;
  color: white;
  padding: 13px;
  font-size: 18px;
  border-top: 1px #BDC3C7 solid;
  text-decoration: none;
}

ul a:hover {
  background-color: #DADFE1;
  color: #607D8B;
}

/* DESKTOP MODE */
@media (min-width: 500px) {
  #nav {
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-flex-direction: row;
    top: 0;
  }

  .open {
    flex-direction: row;
    -webkit-flex-direction: row;
  }

  ul a {
    border-top: 0;
  }

  .container0 {
    display: none;
  }
}

/* ANIMATION */
@-webkit-keyframes show {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes show {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.introimg {
  display: block;
  justify-content: center;
  background-size: cover;
}

/* ME HU CONTRIBUTORS */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.contributorsblock
{
  display:block;
}
body 
{
  background-color: #7bc4d3;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0%;
    padding: 0%;
    justify-content: center;
}
    

.swiper-container 
{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    position: relative;
    padding-top: 120px;
}

.swiper-slide 
{
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background: #fff;
    box-shadow: #8b8b8b 300px;
}

.contributors
{
    /* font-size: 350%; */
    text-shadow: 100px;
    text-align: center;
    margin: 0;
    padding: 0;
    /* text-align: center; */
    background-position: center;
    background-size: cover;
    /* font-family: 'Poppins', sans-serif, 'arial'; */
    /* font-weight: 600; */
    /* font-size: 72px; */
    /* color: white; */
    /* text-align: center; */
    padding-top: 35px;
    font-family: 'Poppins', sans-serif, 'arial';
  font-weight: 600;
  font-size: 60px;
  color: #003642;
  text-align: center;
}


/* HERO VALA */
.info{
  display: flex;
  padding-top: 0px;
  padding-bottom: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-image-mask{
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-left: 40px;
  display: cover;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.hero-image{
  width: 100%;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex:  0 0.5 auto;
  flex:  0 0.5 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.hero-image-mask::before{
  display: block;
  content: "";
  padding-top: 56.25%;
}

.hero-image-mask video{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* Presentation */

#hero {
  /* background-color: linear-gradient(132deg, #7bc4d3,#112D32); */
	background-image: url(/Images/284.png); 
	background-size: auto;
  background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	z-index: 0;
  opacity: 0.7;
}
.hcontainer {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.visually-hidden,.carousel-control-prev-icon,.carousel-control-next-icon{
  background-color: #000;
}

#carouselExampleControls{
  padding: 20px; 
  /* padding: 80px 30px 80px 30px;*/
  margin: 50px 30px 50px 30px;
} 
/* ppt size */
 /* .d-block
{
  height: 700px;
}  */


/* Last Form */

h1 {
  font-family: 'Poppins', sans-serif, 'arial';
  font-weight: 600;
  font-size: 60px;
  color: white;
  text-align: center;
}

h4 {
  font-family: 'Roboto', sans-serif, 'arial';
  font-weight: 400;
  font-size: 25px;
  color: #254e58;
  line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px){
  .styled-input {
      width:100%;
  }
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide { 
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #112D32;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  float: right;
  padding: 7px 35px;
  border-radius: 50px;
  display: inline-block;
  background-color: #4F4A41;
  color: white;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
            0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
            0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
  .submit-btn {
      width:100%;
      float: none;
      text-align:center;
  }
}

input[type=checkbox] + label {
color: #ccc;
font-style: italic;
} 

input[type=checkbox]:checked + label {
color: #f00;
font-style: normal;
}

.swipe_left{
  text-align: center;
  font-size: x-large;
}


/* Video */
*, ::after, ::before {
  box-sizing: border-box;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.img-fluid
{
  padding-top: 105px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
@media (min-width: 768px)
{.col-md-5 {
flex: 0 0 auto;
width: 41.6666666667%;
}}

@media (min-width: 768px){
.col-md-7 {
flex: 0 0 auto;
width: 55.3333333333%;
}}

/* Submit button */
.submit{
  color: white;
}

/* Top Button */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

/* Animated Background */
.background {
  /* background: linear-gradient(132deg, #7bc4d3,#112D32); */

  background-size: 400% 400%;

  animation: Gradient 15s ease infinite;

  position: relative;

  height: 100vh;

  width: 100%;

  overflow: hidden;

  padding:0;

  margin:0px;

}

.cube {

  position: absolute;

  top: 20vh;

  left: 45vw;

  width: 10px;

  height: 10px;

  border: solid 1px #D7D4E4;

  transform-origin: top left;

  transform: scale(0) rotate(0deg) translate(-50%, -50%);

  animation: cube 10s ease-in forwards infinite;

}

.cube:nth-child(2n) {

  border-color: #FFF ;

}

.cube:nth-child(2) {

  animation-delay: 1s;

  left: 25vw;

  top: 40vh;

}

.cube:nth-child(3) {

  animation-delay: 2s;

  left: 75vw;

  top: 50vh;

}

.cube:nth-child(4) {

  animation-delay: 3s;

  left: 90vw;

  top: 10vh;

}

.cube:nth-child(5) {

  animation-delay: 4s;

  left: 10vw;

  top: 85vh;

}

.cube:nth-child(6) {

  animation-delay: 5s;

  left: 50vw;

  top: 10vh;

}

@keyframes Gradient {

  0% {

    background-position: 0% 50%;

  }

  50% {

    background-position: 100% 50%;

  }

  100% {

    background-position: 0% 50%;

  }

}

@keyframes cube {

  from {

    transform: scale(0) rotate(0deg) translate(-50%, -50%);

    opacity: 1;

  }

  to {

    transform: scale(20) rotate(960deg) translate(-50%, -50%);

    opacity: 0.8;

  }

}

.copyright{
  background-color: #003642;
  color: white;
}

.social-networks square spin-icon{
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 30px;
}

.social{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  position: relative;
  background-color: #003642;
  color: white;
  text-align: center;
}

.fa-linkedin-square:hover{
  background-color: #0077b5;
  color: white;
}

.fa-facebook:hover{
  background-color: #0077b5;
  color: white;
}
.fa-github:hover{
  background-color: #000;
  color: white;
}

.fa-instagram:hover{
  background-color: #DD2A7B;
  color: white;
}


/* Loading Page */
.LoadingPage {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: rgb(43, 112, 110);
  background: transparent\9;
  background: rgba(72, 182, 255, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c19B3AE,endColorstr=#4c19B3AE);
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}
.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #112D32;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes fadeOut {
  100% {
      opacity: 0;
      visibility: hidden;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #112D32; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #112D32; 
}